@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Turma B</h1>
    <h2>-> @Model.Mensagem</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <h4>Post com formulário</h4>
    <form method="post">
        
        <div class="row">
            <div class="col-12 col-md-3">
                <label>Insira o seu nome</label>        
            </div>
            <div class="col-12 col-md-3">
                ...
            </div>
            <div class="col-12 col-md-3">
                <input class="form-control" name="nomeDoCliente"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-md-3">
                <input class="form-control" type="submit" value="Submeter"/>        
            </div>    
        </div>
        
    </form>
</div>